name: Linux Integration Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '*'

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.16]
    runs-on: ubuntu-latest

    steps:
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v2

    - name: Set up integration test WireGuard interfaces
      run: ./.cibuild.sh

    - name: Start wireguard-go userspace device
      run: sudo wireguard-go wguser0

    - name: Build integration test binary
      run: go test -c -race .

    - name: Run integration tests
      run: sudo WGCTRL_INTEGRATION=yesreallydoit ./wgctrl.test -test.v -test.run TestIntegration
